.info{
    width:45vw;
    margin: 5.5% 0 5% 5%;
    overflow: auto;
}

.picture{
    width: 30vw;
    margin: 5% 0 0 5%;
}

.center_text{
    text-align: center;
}
div{
    width: 100%;
}
img{
    max-width: 60%;
    box-shadow: 0 0 10px 2px rgb(60, 60, 60);
}

h1{
    font-size: 250%;
}

p{
    font-size: 150%;
}
