.header_box {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(8, 47, 68, 0.972)
    ),
    url("../../../assets/images/binary-wall.jpg");
  background-size: cover;
  background-position: top;
  height: 35rem;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
  display: flex;
  flex-direction: column;
  padding: 8rem 0 0 10rem;
}
/* #0FACD9
#0C75AF */

.top-span {
  color: white;
  font-weight: 500;
  display: block;
  margin-bottom: 40px;
  font-size: 6rem;
}

.bottom-span {
  color: white;
  font-weight: 500;
  display: block;
  font-size: 3rem;
}
.main-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
}
img {
  width: 40rem;
  border-radius: 20%;
  border: 1rem solid rgb(233, 232, 232);
}
