<div class="home-container">
    <div class="header_box">
        <h1>
            <span class="top-span">Hi there,</span>
            <span class="bottom-span">I'm Jessie Murphey,</span>
            <span class="bottom-span">An aspiring Front-End Engineer/Software Developer</span>
        </h1>
    </div>

    <div class="main-container">
        <img src="assets/images/cropped-pic-white.png" alt="profile-pic">
        <div class="info">
            <div>
                <span class="info-header">About Me</span>
                <p>
                    Building applications is something I am very passionate about, I absolutely love to code.
                    I am highly motivated with great problem solving skills. 
                    And I'm looking to join the field of Software Development to create new and exciting applications!
                </p>
            </div>
            <br>
            <div>
                <span class="info-header">Education</span>
                <p>University of Missouri - Columbia, MO</p>
                <p>BS Information Technology</p>
                <p>Minor in Computer Science</p>
                <p>Graduation Date: May 2021</p>
            </div>
            <div class="btn-box">
                <a class="btn btn-purple" href="https://github.com/jcmq6b/PortfolioProjects" target="_blank">GitHub</a>
                <a class="btn btn-blue" href="https://www.linkedin.com/in/jessica-murphey-20230820a/" target="_blank">Linkedin</a>
            </div>
        </div>
    </div>
</div>

