<ion-header>
  <ion-item>
    <ion-button size="medium" (click)="backButton()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    <ion-title id="name">{{this.selectedPerson}}</ion-title>
  </ion-item>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label id="title">Previous Bets</ion-label>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let bet of this.getPastBetArray()">
      <ion-item-sliding #slidingItem>
        <ion-item>
          <div class="bet-wrapper">
            <div class="amount">
              <h1 class="delta-gothic" id="numbers">${{(bet.amount)}}</h1>
            </div>
            <div class="description">
              <!-- <h4 class="bet-title">{{bet.title}}</h4> -->
              <h5 >{{bet.description}}</h5>
            </div>
          </div>
          <div (click)="open(slidingItem)">
            <ion-icon name="chevron-back"></ion-icon>
          </div>
        </ion-item>

        <ion-item-options side="end">
          <ion-button (click)="deleteBet(bet)" color="danger" expand="full" class="siding">
            <ion-icon name="trash"></ion-icon>
            <strong>Delete</strong>
          </ion-button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-item>
  </ion-list>
</ion-content>
