@font-face {
  font-family: "bangers";
  src: url("./assets/custom_fonts/Bangers-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-bold";
  src: url("./assets/custom_fonts/Roboto-Bold.ttf") format("truetype");
}

.bangers_font {
  font-family: "bangers";
}

.roboto-bold {
  font-family: "roboto-bold";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default= 10px = 1rem */
  font-size: 62.5%;
}

html,
body {
  font-family: "Arimo", sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: #d8f6fc; */
  height: 100vh;
  overflow-y: auto;
  background-color: #181818;
}
