@font-face {
  font-family: "bangers";
  src: url("./assets/custom_fonts/Bangers-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-bold";
  src: url("./assets/custom_fonts/Roboto-Bold.ttf") format("truetype");
}

.bangers_font {
  font-family: "bangers";
}

.roboto-bold {
  font-family: "roboto-bold";
}

body {
  background-color: rgb(37, 37, 37);
}
html,
body {
  margin: 0;
  padding: 0;
}
