<div class="content_wrapper">
    <div class="title_wrapper text-center">
        <h1>Relavent Classes</h1>
    </div>
    <div class="table_wrapper">
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th scope="col">Name</th>
                <th scope="col">Class Number</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Web Application Development II</th>
                <td>CMP_SC 4830</td>
                <td>This course studies the science and engineering of the World Wide Web. 
                    Covers the languages, protocols, services and tools that enable the web. 
                    Emphasis on the on basics and technologies.
                </td>
            </tr>
            <tr>
                <th scope="row">Object Oriented Programming</th>
                <td>CMP_SC 3330</td>
                <td>This course focuses on object-oriented programming concepts: abstraction, polymorphism, encapsulation, inheritance, interfaces, abstract classes, files, streams, and object serialization. 
                    Topics such as GUI and event-driven programming are also tackled. Written mainly in Java.</td>
            </tr>
            <tr>
                <th scope="row">iOS App Development II</th>
                <td>INFOTC 4425</td>
                <td>This is the second in a series of courses on developing iOS applications using Xcode and Swift programming language on the macOS platform. 
                    This course covers intermediate-level topics in application design, more complex UI implementations, and data persistence.</td>
            </tr>
            <tr>
                <th scope="row">Software Engineering</th>
                <td>INFOTC 4320</td>
                <td>Software Engineering covers the principles, processes, and professional practices used to design, develop, test, deploy, and manage software systems in a team-based, collaborative environment. 
                    A range of software engineering methodologies are covered with an emphasis on agile software development using incremental methods of managing the development activities.</td>
            </tr>
            <tr>
                <th scope="row">Advanced Algorithm Design</th>
                <td>CMP_SC 3050</td>
                <td>This class surveys fundamental algorithms and data structures that have wide practical applicability, including search trees and graph algorithms.  
                    Emphasis is placed on techniques for efficient implementation and good software development methodologies. Written mainly in C.</td>
            </tr>
            <tr>
                <th scope="row">Database Applications and Information Systems</th>
                <td>CMP_SC 3380</td>
                <td>Covers fundamental topics of database management systems (DBMS) and database-enabled applications.  
                    Topics include a brief history of secondary storage and databases, data modeling, introductory SQL, an overview of current database trends, and current popular database systems.</td>
            </tr>
            <tr>
                <th scope="row">Cyber Security</th>
                <td>INFOTC 2910</td>
                <td>This course covers numerous platform-independent security topics including threats, problem ports and services, 
                    theory and practice of defense in security, intrusion detection, data security, securing remote access, user education and support, designing a secure network and security management.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
