<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Bet Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Click Person To View Bet Page</ion-label>
    <ion-button (click)="presentAddPersonAlert()">New Person</ion-button>
  </ion-item>
  

  <ion-list #list *ngFor="let person of this.personArray">
    <ion-item-sliding #slidingItem>
    <ion-item>
      <ion-label class="name" (click)="loadCurrentBets(person.name)">{{person.name}}</ion-label>
      <div class="open_slid_div" (click)="open(slidingItem, list)">
        <ion-icon name="chevron-back"></ion-icon>
      </div>
    </ion-item>

    <ion-item-options side="end">
      <ion-button (click)="presentEditPersonAlert(person)" color="primary" expand="full" class="siding">
        <ion-icon name="pencil-outline"></ion-icon>
        <strong>Edit</strong>
      </ion-button>
      <ion-button (click)="presentDeletePersonAlert(person.name)" color="danger" expand="full" class="siding">
        <ion-icon name="trash"></ion-icon>
        <strong>Delete</strong>
      </ion-button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

</ion-content>
