<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Bet Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Click on a person to view their bet page</ion-label>
    <ion-button (click)="presentAddPersonAlert()">Add Person</ion-button>
  </ion-item>
  

  <ion-list *ngFor="let person of this.personArray">
    <ion-item>
      <ion-label (click)="loadCurrentBets(person.name)">{{person.name}}</ion-label>
      <ion-icon class="ion-margin-end" name="pencil-outline" (click)="presentEditPersonAlert(person)"></ion-icon>
      <ion-icon name="trash-outline" (click)="presentDeletePersonAlert(person.name)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
