table {
  background-color: rgb(243, 243, 243);
}

.content_wrapper {
  margin: 5%;
}

.title_wrapper {
  color: white;
  text-shadow: 0 1px black;
}

@media screen and (max-width: 690px) {
  .content_wrapper {
    margin: 1.5%;
  }
}
