<ion-header>
  <ion-item id="top-header">
    <ion-button size="medium" (click)="backButton()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    <ion-title id="name" class="ion-text-center">{{this.selectedPerson}}</ion-title>
    <ion-button size="medium" (click)="previousBets()">History</ion-button>
  </ion-item>
  <ion-item>
    <ion-label id="owed">{{this.totalTitle}}: ${{this.getTotalTitle(this.selectedPerson)}}</ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-item class="page-title">
    <ion-label id="title">Current Bets</ion-label>
    <ion-button (click)="addBetPage()">
      <ion-icon size="large" name="add-outline" id="add"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let bet of this.getActiveBetArray()">
      <ion-item-sliding #slidingItem>

        <ion-item class="item-container">
          <div class="bet-wrapper">
              <h5 class="numbers">${{(bet.amount)}}</h5>
              <h6>{{bet.description}}</h6>
          </div>
          <div id="chevron" (click)="open(slidingItem)">
            <ion-icon size="smaller" name="chevron-back"></ion-icon>
          </div>
        </ion-item>

        <ion-item-options side="end">
          <ion-button (click)="completeBetAlert(bet)" color="success" expand="full" class="siding">
            <ion-icon name="checkmark"></ion-icon>
            <strong>Finish</strong>
          </ion-button>
          <ion-button (click)="deleteBet(bet)" color="danger" expand="full" class="siding">
            <ion-icon name="trash"></ion-icon>
            <strong>Delete</strong>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>
  </ion-list>

</ion-content>
