ion-col{
    // white-space: normal;
    display: block;
    
}

ion-button.siding{
    height: 100%;
}

ion-col.description{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-col.btmborder{
    border-bottom: 2px solid rgb(49, 49, 49);
}


#title{
    padding-left: 20px;
    font-size: 120%;
    text-decoration: underline;
}

#name{
    font-size: 150%;
    text-decoration: underline;
}

#owed{
    padding-left: 20px;
}