ion-button.siding {
  height: 100%;
}

#top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #name {
    font-size: 200%;
    padding: 0 0 0 14%;
  }
}

#owed {
  padding-left: 5%;
  text-align: center;
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  #title {
    padding: 0 0 0 18%;
    font-size: 150%;
    text-align: center;
    margin: 0;
  }
  #add {
    font-size: 2em;
  }
}

.item-container {
  .bet-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 95%;
    padding: 0.5em;
    margin-bottom: 0.8em;
    background-color: rgb(56, 56, 56);
    h5,
    h6 {
      margin: 0;
    }
    .numbers {
      color: #4b8dff;
      font-size: 1.5rem;
      align-items: center;
      margin-bottom: 0.5em;
      font-family: "Lobster", cursive;
    }
  }
}
