ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #103a7e;
    color: aliceblue;
    overflow: hidden;
}
li{
    display: inline-block;
    border-right: 1px solid black;
}
li a{
    display: block;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    padding: 3px 15px;
    font-size: 20px;
}
li a:hover{
    background-color: #000000;
    text-decoration: none;
}