<mat-card class="info float-left">
    <mat-card-content>
        <div>
            <h1>About Me</h1>
            <p>I am highly motivated with great problem solving skills. Looking to apply my skills in programming as an software developer or web developer</p>
            <p>Github: <a href="https://github.com/jcmq6b">https://github.com/jcmq6b</a></p>
        </div>
        <br>
        <div>
            <h1>Contact Info</h1>  
            <p>Phone: 573-303-1878</p>
            <p>Email: murpheysdomain@gmail.com</p>
        </div>
        <br>
        <div>
            <h1>Education</h1>
            <p>University of Missouri - Columbia, MO</p>
            <p>BS Information Technology</p>
            <p>Minor in Computer Science</p>
            <p>Graduation Date: May 2021</p>
        </div>
    </mat-card-content>
</mat-card>

<div class="picture float-left center_text">
    <div>
        <h1>Jessica Murphey</h1>
    </div>
    <div>
        <img src="assets/images/ProfilePic.png" alt="profile-pic">
    </div>
    <br>
    <div>
        <p>Aspiring Software Developer</p>
    </div>
</div>

