<div class="header">
    <h1>Technical Skills</h1>
</div>
<div class="main_container">
    <mat-card class="languages">
        <h1>Languages</h1>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
            <mat-list>
                <mat-list-item> HTML </mat-list-item>
                <mat-list-item> CSS </mat-list-item>
                <mat-list-item> JavaScript & JQuery </mat-list-item>
                <mat-list-item> Java </mat-list-item>
                <mat-list-item> Swift </mat-list-item>
                <mat-list-item> C </mat-list-item>
                <mat-list-item> C# </mat-list-item>
                <mat-list-item> Python </mat-list-item>
                <mat-list-item> Git </mat-list-item>
                <mat-list-item> Git Bash </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <div class="stack">
        <mat-card class="frameworks">
            <h1>Frameworks</h1>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item> Angular </mat-list-item>
                    <mat-list-item> Ionic </mat-list-item>
                    <mat-list-item> Material </mat-list-item>
                    <mat-list-item> Bootstrap </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="programs">
            <h1>Applications</h1>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item> XCode </mat-list-item>
                    <mat-list-item> Visual Studio Code </mat-list-item>
                    <mat-list-item> Visual Studio </mat-list-item>
                    <mat-list-item> GitHub </mat-list-item>
                    <mat-list-item> Firebase </mat-list-item>
                    <mat-list-item> Photoshop </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>