//Import into app.scss

.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    border-radius: 50%; //makes it a circle
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

#cover-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.3em;
  width: 25%;
  border-radius: 50%;
}

//Half Screen
@media screen and (max-width: 1100px) {
  #cover-wrapper {
    width: 45%;
  }
}

//Phone screen
@media screen and (max-width: 768px) {
  #cover-wrapper {
    width: 70%;
  }
}
