
<div id="container">
    <div id="side_nav">
        <ul class="bangers_font">
            <li><a href="projects#betTracker">Bet Tracker App</a></li>
            <li><a href="projects#musicPlayer">Music Player</a></li>
            <li><a href="projects#ror2">RoR2 Character Showcase</a></li>
            <li><a href="projects#prTracker">Personal Record Tracker</a></li>
        </ul>
    </div>

    <div id="projects_container">
        <div id="betTracker" class="showcase odd">
            <div class="title">
                <h1>Bet Tracker</h1>
                <h2>Mobile Application using Ionic</h2>
            </div>
            <div class="project_content">
                <div class="description">
                    <mat-card>
                        <mat-card-content>
                            <h2>Description:</h2>
                            <h3>- The purpose of this application is to keep track of what bets you have with people.</h3>
                            <h3>- This application was created using Ionic and Angular with persistent data</h3>
                            <h3>- Runs on both Android and iOS</h3>
                            <h3><a href="https://github.com/jcmq6b/PortfolioProjects/blob/master/BetTrackerApp/" target="_blank">Github Link</a></h3>
                            <h3><a href="https://youtu.be/DmPCFizjML4" target="_blank">Video Preview On Emulator</a></h3>
                            <h3><a href="https://www.murpheysdomain.com/BetTrackerApp/" target="_blank">View Live Web Version </a></h3>
                            [Note: Ionic is made for mobile, this live web version is just for seeing functionality]
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="pictures">
                    <div class="app_em_picture">
                        <img src="../../../assets/images/bt_em_pic.JPG" alt="pr_pic1">
                    </div>
                    <div class="app_em_picture">
                        <img src="../../../assets/images/bt_em_pic_2.JPG" alt="pr_pic2">
                    </div>
                </div>
            </div>  
        </div>

        <div id="musicPlayer" class="showcase even">
            <div class="title">
                <h1>Music Player</h1>
            </div>
            <div class="project_content">
                <div class="description">
                    <mat-card>
                        <mat-card-content>
                            <h2 class="link"><a href="https://www.murpheysdomain.com/ReactMusicPlayer/" target="_blank"><u>View Webpage</u></a></h2>
                            <h2>Description:</h2>
                            <h3>- This page allows the user to play songs from the music library</h3>
                            <h3>- This page is made using React</h3>
                            <h4>The user can:</h4>
                            <ul>
                                <li>Pause and play the current song.</li>
                                <li>Skip to the next or previous song in the library</li>
                                <li>Open and close the song library</li>
                                <li>Switch from light mode and dark mode</li>
                                <li>Change the time of the song by dragging on the progress bar</li>
                            </ul>
                            <h3><a href="https://github.com/jcmq6b/PortfolioProjects/tree/master/MusicPlayer" target="_blank">GitHub Link</a></h3>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="pictures">
                    <div class="app_em_picture">
                        <img src="../../../assets/images/phone-dark-library.JPG" alt="homepage">
                    </div>
                    <div class="app_em_picture">
                        <img src="../../../assets/images/phone-dark-home.JPG" alt="homepage">
                    </div>
                    <div class="app_em_picture">
                        <img src="../../../assets/images/phone-light-library.JPG" alt="huntress">
                    </div>
                    <div class="app_em_picture">
                        <img src="../../../assets/images/phone-light-home.JPG" alt="huntress">
                    </div>
                </div>
            </div>
        </div> 
            
        <div id="ror2" class="showcase odd">
                <div class="title">
                    <h1>Risk of Rain 2 Chacter Showcase</h1>
                </div>
                <div class="project_content">
                    <div class="description">
                        <mat-card>
                            <mat-card-content>
                                <h2 class="link"><a href="https://www.murpheysdomain.com/RoR2CharacterShowcase/" target="_blank"><u>View Webpage</u></a></h2>
                                <h2>Description:</h2>
                                <h3>- This is a web page for a character showcase for the game Risk of Rain 2 that allows
                                        the user to look at each character and view their abilities and stats, as well as preview their skills in a video.
                                </h3>
                                <h3>- This page is written with only HTML, CSS, Javascript/JQuery, and PHP.</h3>
                                <h3>- All character data is stored in a JSON file and retrieved using PHP</h3>
                                <h3>- All videos were recorded by me.</h3>
                                <h3><a href="https://github.com/jcmq6b/PortfolioProjects/tree/master/RoR2CharacterShowcase" target="_blank">GitHub Link</a></h3>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="pictures">
                        <div class="app_web_picture">
                            <img src="../../../assets/images/ror2_home.jpg" alt="homepage">
                        </div>
                        <div class="app_web_picture">
                            <img src="../../../assets/images/huntressPage.jpg" alt="huntress">
                        </div>
                    </div>
                </div>
        </div>

        <div id="prTracker" class="showcase even">
            <div class="title">
                <h1>Personal Record Tracker</h1>
                <h2>Group project made with Ionic</h2>
                <h2>Group Members: Jessica Murphey, Brett Eckert, and Adrian Atanasov</h2>
            </div>
            <div class="project_content">
                <div class="description">
                    <mat-card>
                        <mat-card-content>
                            <h2>Description:</h2>
                            <h3>- Our app is a simple PR app that allows users to save their Personal Records.</h3>
                            <h3>- To use the app you must first register an account and then login. All Personal Records will be saved to that account.</h3> 
                            <h3>- Users can add, edit, and delete their Personal Records as well as view detailed informaion on their lift percentage.</h3>
                            <h3>- In addition because the application is cross platform and uses firebase for data storage the user will have their data be consistent across multiple platforms, 
                                such as being able to edit their personal records on both their phone and the web.</h3>
                            <h3><a href="https://github.com/Mizzou-CSIT4830-CS7830-F20/hackweekprojects-codemonkeys/tree/master/code/pr-app" target="_blank">Link to Code on GitHub</a></h3>
                            <h3><a href="https://github.com/Mizzou-CSIT4830-CS7830-F20/hackweekprojects-codemonkeys/blob/master/report/report.md" target="_blank">Link to Report on Github</a></h3>
                            <h3>- I implemented the edit functionality for the personal records and added the edit personal record form page.</h3>
                            <h3>- I added the swipe functionality to the home page PR items so that the user can swipe to the left to open up buttons to select edit or delete for that personal record.</h3>
                            <h3>- I helped format the look of the user interface using ionic components and css/scss to make the UI look more professional.</h3>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="pictures">
                    <div class="app_em_picture">
                        <img src="../../../assets/images/pr_emulator1.png" alt="pr_pic1">
                    </div>
                    <div class="app_em_picture">
                        <img src="../../../assets/images/pr-emulator2.png" alt="pr_pic2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="toTop" [ngClass]="{'show-scrollTop': windowScrolled}" (click)="scrollToTop()">
        <span class="material-icons">arrow_upward</span>
    </button>
</div>