
<div id="container">
    <div id="side_nav">
        <ul class="bangers_font">
            <li><a href="projects#div1">Bet Tracker App</a></li>
            <li><a href="projects#div2">RoR2 Character Showcase</a></li>
            <li><a href="projects#div3">Personal Record Tracker</a></li>
        </ul>
    </div>

    <div id="projects_container">
        <div id="div1">
            <div id="bet_tracker">
                <div class="title">
                    <h1>Bet Tracker</h1>
                    <h2>Mobile App for Android and iOS</h2>
                </div>
                <div class="project_content">
                    <div class="description">
                        <mat-card>
                            <mat-card-content>
                                <h1>content here</h1>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="app_picture">
                        <!-- <img src="../../../assets/images/coming_soon_pic.jpg" alt="coming soon"> -->
                    </div>
                </div>  
            </div>
        </div>

        <div id="div2">
            <div id="showcase">
                <div class="title">
                    <h1>Risk of Rain 2 Chacter Showcase</h1>
                </div>
                <div class="project_content">
                    <div class="description">
                        <mat-card>
                            <mat-card-content>
                                <h2 class="link"><a href="https://www.murpheysdomain.com/RoR2CharacterShowcase/" target="_blank"><u>View Webpage</u></a></h2>
                                <h3>This is a web page for a character showcase for the game Risk of Rain 2 that allows
                                     the user to look at each character and view their abilities and stats, as well as preview their skills in a video.
                                </h3>
                                <h3>This page is written with only HTML, CSS, Javascript/JQuery, and PHP.</h3>
                                <h3>All videos were recorded by me.</h3>
                                <h3>Github: <a href="https://github.com/jcmq6b/PortfolioProjects/tree/master/RoR2CharacterShowcase" target="_blank">
                                    https://github.com/jcmq6b/PortfolioProjects/tree/master/RoR2CharacterShowcase</a>
                                </h3>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="pictures">
                        <div class="app_picture">
                            <img src="../../../assets/images/ror2_home.jpg" alt="homepage">
                        </div>
                        <div class="app_picture">
                            <img src="../../../assets/images/huntressPage.jpg" alt="huntress">
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div id="div3">
            <div id="pr_tracker">
                <div class="title">
                    <h1>Personal Record Tracker</h1>
                    <h2>Group project made with Ionic</h2>
                </div>
                <div class="project_content">
                    <div class="description">
                        <mat-card>
                            <mat-card-content>
                                <h1>Description:</h1>
                                <p></p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="pictures">
                        <div class="app_picture">
                            <img src="../../../assets/images/pr_emulator1.png" alt="pr_pic1">
                        </div>
                        <div class="app_picture">
                            <img src="../../../assets/images/pr-emulator2.png" alt="pr_pic2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>