@font-face{
    font-family: "bangers";
    src: url("./assets/custom_fonts/Bangers-Regular.ttf") format("truetype");
}

.bangers_font{
    font-family: "bangers";
}

body{
    background-color: rgb(37, 37, 37);
}
html, body { 
    margin: 0;
    padding: 0;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
