<mat-card>
    <mat-card-content>
        <div class="info_container">
            <img src="../../../assets/images/aws-logo.png" alt="aws_logo">
            <h2>Server Information</h2>
            <ul>
                <li>AWS EC2 Instance</li>
                <li>Ubuntu Server 18.04 LTS (HVM)</li>
                <li>SSD Storage</li>
            </ul>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div class="info_container">
            <img src="../../../assets/images/lamp_stack_logo.jpg" alt="lamp">
            <img src="../../../assets/images/fail2ban.jpg" alt="fail2ban">
            <h2>Web Server Information</h2>
            <ul>
                <li>LAMP Stack</li>
                <li>Fail2Ban and Uncomplicated Firewall (UFW) protected</li>
                <li>Name Based Virtual Host support and DNS with NameCheap</li>
            </ul>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div class="info_container site_info">
            <img src="../../../assets/images/bootstrap_logo.png" alt="bootstrap">
            <img src="../../../assets/images/material_logo.png" alt="material">
            <img src="../../../assets/images/Angular_full_color_logo.svg.png" alt="angular">
            <h2>Site Information</h2>
            <ul>
                <li>Created with Angular</li>
                <li>Styled with Material Design, Bootstrap, and custom CSS</li>
                <li>Github: </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>
